body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  
  .pageHeader nav {
    background-color: #2BA6CB;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .pageHeader nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .pageHeader nav ul li {
    margin: 0;
  }
  
  .pageHeader nav a {
    color: white;
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
  }
  
  .pageHeader nav a:hover, .pageHeader nav a:active {
    background-color: #2795B6;
  }
  
  .pageHeader nav .active a {
    background-color: #2795B6;
  }
  
  .layout {
    display: flex;
    padding-top: 0px; 

  }
  
  .sidebar {
    position: left;
    top: auto; 
    left: 0px;
    width: 125px;
    height: auto; 
    background-color: #2BA6CB;
    color: white;
    padding: 20px;
    border-radius: 0px;
    z-index: 1;
  }
  
  .Main {
    flex: 1;
    margin-left: 0px; 
    margin-right: 0px;
    padding: 20px;
    background-color: white;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .content {
    padding: 20px;
  }
  
  .top, .bottom {
    margin-bottom: 20px;
  }
  
  .bottom-sidebar {
    padding: 20px;
    background-color: #e9e9e9;
    border-radius: 8px;
    margin-top: 0px;
  }
  
  .pageFooter {
    text-align: center;
    padding: 10px;
    background-color: #2BA6CB;
    color: white;
    border-radius: 0px;
    margin-top: 0px;
    height: 50px;
  }
  
  .container {
    text-align: center;
  }
  
  img {
    width: 50%;
    height: 250px;
    border-radius: 5px;
  }
  
  p {
    text-align: justify;
  }
  
  ul {
    list-style-type: square;
  }
  
  .containercss {
    text-align: center;
  }

  .footer1{
    text-align: center;
  }
  
  h2{
    text-align: center;
  }

 .video1{
  text-align: center;
 }

 .video2{
  text-align: center;
 }

 h3{
  text-align: center;
 }