<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Home</title>
  <link href="../content/IndexStyle.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Home page" />
  <meta name="keywords" content="HTML5, CSS, Web, Diseño Web, UMG" />
</head>
<body class="body">
  <header class="pageHeader">
    <nav>
      <ul>
        <li><a href="../Index.html">Inicio</a></li>
        <li class="active"><a href="../view/Css3.html">CSS3</a></li>
        <li><a href="../view/Html5.html">HTML5</a></li>
        <li><a href="../view/About.html">Acerca de</a></li>
        <li><a href="../view/contact.html">Contáctanos</a></li>
      </ul>
    </nav>
  </header>
  
  <!---Agrupa la barra lateral y el contenido principal -->
  <div class="layout">
    <nav class="sidebar">
      <ul class="navigation">
        <li><a href="../Index.html">Inicio</a></li>
        <li class="active"><a href="../view/Css3.html">CSS3</a></li>
        <li><a href="../view/Html5.html">HTML5</a></li>
        <li><a href="../view/About.html">Acerca de</a></li>
        <li><a href="../view/contact.html">Contáctanos</a></li>
      </ul>
    </nav>

    <div class="Main">
      <div class="content">
        <article class="top">
          <header>
            <h2>CSS3</h2>
          </header>
          <section>
            <div class="container">
              <img src="../multimedia/images/css3.png" alt="CSS3" />
            </div>

            <p>
                CSS3 es la última evolución de CSS, y añade muchas características
                nuevas y emocionantes a las hojas de estilo. Algunas de las nuevas
                características de CSS3 incluyen:
            </p>
            <ul>
                 <li>Soporte para fuentes web</li>
                <li>Colores RGBA y HSLA</li>
                 <li>Gradientes</li>
                 <li>Transiciones y animaciones</li>
                 <li>Transformaciones 2D y 3D</li>
                 <li>Soporte para fuentes web</li>
                <li>Colores RGBA y HSLA</li>
                <li>Gradientes</li>
                <li>Transiciones y animaciones</li>
                <li>Transformaciones 2D y 3D</li>
            </ul>
          </section>
        </article>
      </div>
    </div>
    
  </div>

  <footer class="pageFooter">
    <h4 class="footer1">Copyright &copy; 2024 UMG</h4>

  </footer>
</body>
</html>
