<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Home</title>
  <link href="../content/IndexStyle.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Home page" />
  <meta name="keywords" content="HTML5, CSS, Web, Diseño Web, UMG" />
</head>
<body class="body">
  <header class="pageHeader">
    <nav>
      <ul>
        <li class="active"><a href="Index.html">Inicio</a></li>
        <li><a href="Css3.html">CSS3</a></li>
        <li><a href="Html5.html">HTML5</a></li>
        <li><a href="About.html">Acerca de</a></li>
        <li><a href="contact.html">Contáctanos</a></li>
      </ul>
    </nav>
  </header>
  
  <!---Agrupa la barra lateral y el contenido principal -->
  <div class="layout">
    <nav class="sidebar">
      <ul class="navigation">
        <li class="active"><a href="Index.html">Inicio</a></li>
        <li><a href="Css3.html">CSS3</a></li>
        <li><a href="Html5.html">HTML5</a></li>
        <li><a href="About.html">Acerca de</a></li>
        <li><a href="contact.html">Contáctanos</a></li>
      </ul>
    </nav>

    <div class="Main">
      <div class="content">
        <article class="top">
          <header>
            <h2>HTML</h2>
          </header>
          <section>
            <div class="container">
              <img src="../multimedia/images/html.png" alt="HTML5" />
            </div>

            <p>
              HTML corresponde a las siglas "Hypertext Markup Language"
              (Lenguaje de Etiquetado de Hipertexto), es el lenguaje esencial
              para desarrollar y organizar páginas web. Es el marco básico sobre
              el cual se construye cualquier sitio web, estableciendo la
              estructura primaria en la que se distribuye el contenido. Sus
              principales características son:
            </p>
            <ul>
              <li>
                Organiza la información en una página web mediante el uso de
                etiquetas que definen elementos como encabezados, párrafos y
                listas.
              </li>
              <li>
                Es posible crear hipervínculos que conectan diferentes páginas y
                recursos en el sitio web.
              </li>
              <li>
                Permite incluir imágenes, videos y audios en el contenido web.
              </li>
              <li>
                Ofrece la capacidad de construir formularios interactivos para
                recopilar datos del usuario, como campos de texto, botones y
                menús desplegables.
              </li>
              <li>
                Facilita la creación de tablas para organizar y presentar datos
                de manera estructurada.
              </li>
            </ul>
          </section>

          <header>
            <h4>¿Has escuchado el término HTML5?</h4>
          </header>
          <p>
            Lee los datos interesantes acerca de este tema
            <a href="html5.html"> aquí</a>
          </p>
        </article>
      </div>

      <article class="bottom">
        <header>
          <h2>¿Qué es CSS?</h2>
        </header>
        <section>
          <div class="containercss">
            <img src="../multimedia/images/css.png" alt="CSS" />
          </div>

          <p>
            CSS, o Cascading Style Sheets, es un lenguaje que se utiliza para
            describir la presentación de una página web. Mientras que HTML se
            encarga de la estructura y el contenido de la página, CSS define
            cómo se verá ese contenido: los colores, las fuentes, los márgenes,
            el diseño y la disposición de los elementos en la página. Algunas de
            sus características principales son:
          </p>
          <ul>
            <li>
              Permite definir cómo se verá cada elemento en una página web,
              incluyendo aspectos como el color, las fuentes, los márgenes y el
              espaciado.
            </li>
            <li>
              Ayuda a mantener el contenido (HTML) separado de la apariencia
              (estilos), facilitando la gestión y la actualización del diseño
              sin modificar el contenido.
            </li>
            <li>
              Puedes seleccionar elementos específicos en un documento para
              aplicarles estilos. Esto se hace a través de selectores, como
              etiquetas, clases y identificadores.
            </li>
          </ul>

            <h4>¿Sabías qué... CCS3 añade muchas características
                nuevas y emocionantes a las hojas de estilo?</h4>
          <p>
            Amplía tus conocimientos sobre este tema
            <a href="Css3.html"> aquí</a>
          </p>

        </section>
      </article>

      <aside class="bottom-sidebar">
        <div class="featured">
          <h2>¿Qué es JavaScript?</h2>
          <p>
            JavaScript es un lenguaje de programación que se utiliza
            principalmente para crear y controlar el comportamiento dinámico de
            las páginas web. A diferencia de HTML y CSS, que se encargan de la
            estructura y el estilo, JavaScript permite que las páginas web
            respondan a las acciones del usuario, como hacer clic en un botón,
            rellenar formularios, o cargar nuevos datos sin recargar la página.
          </p>
          <a href="html5.html">Leer más...</a>
        </div>
      </aside>
    </div>
    
  </div>

  <footer class="pageFooter">
    <h4 class="footer1">Copyright &copy; 2024 UMG</h4>

  </footer>
</body>
</html>
